.container {
    display: flex;
    flex-direction: column;
    margin:15px;
    & .menu {
        display: flex;
        justify-content: flex-end;
        margin-bottom:15px;

        & .logout {
            width:50%;
            display: flex;
        }

        & .addEmp {
            width:50%;
            display: flex;
            justify-content: flex-end;
        }
    }
}